/*.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }*/
body {
	padding-top: 165px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
	padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
	padding: 0 15px;
}

.navbar {
		padding-left: 7px;
		padding-right: 7px;
	}

@media(min-width:1024px) {
	body {
		padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
	}

	.navbar-fixed-top .navbar-brand {
		padding: 15px 0;
	}
	
	.navbar {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	
}

.half-width {
    width: '50%';
}

.project-table {
	height: 250px;
	border: 1px solid #cecece;
	overflow-y: auto;
}

.navbar .container {
	width: 1240px !important;
}

.disabled {
	pointer-events: none;
}