.nav svg {
	height: 50px;
	margin: 0;
	padding: 0;
}

.navbar-brand {
	margin-top: 15px !important;
}

.nav-svg {
	padding: 0 !important;
	margin: 0 15px;
		
	color: #9d9d9d;
	stroke: #9d9d9d;
	fill: #9d9d9d;
	transition: color 0.3s, stroke 0.3s, fill 0.3s, stroke-width 0.1s;
}
.nav-svg:hover {
	color: white;
	stroke: white;
	fill: white;
}
.nav-svg-big-active:active{
	stroke-width: 25px;
}
.nav-svg-small-active:active {
	stroke-width: 5px;
 }