 <!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/" ng-include="'/src/img/logo.svg'" class='navbar-brand nav-svg nav-svg-small-active' tooltip="{{'HOME' | translate}}" tooltip-placement="bottom"></a>
        </div>
       
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>